<main>
  Accounts
  <ul class='mx-auto max-w-screen-lg px-3'>
    {{#each accounts}}
      <li
        class='flex-between mb-3 rounded-md border-2 border-gray-500 px-5 shadow-xl'
      >
        <div class='flex flex-col'>
          <a
            class='hover:underline'
            href='/dashboard/accounts/{{id}}'
          >{{name}}</a>
          <small class='ml-2 text-gray-600'>{{subtype}}</small>
        </div>
        <div class='flex flex-col'>
          <small><em
              class='mr-2 font-bold text-black'
            >Available:</em>{{balances.available}}</small>
          <small><em
              class='mr-2 font-bold text-black'
            >Current:</em>{{balances.current}}</small>
        </div>
      </li>
    {{/each}}
    <li
      class='flex-between m-auto max-w-md rounded-md border-2 border-gray-500 px-5 py-2 shadow-xl hover:bg-green-600/40'
    >
      <button
        class='flex-between h-full w-full text-lg font-bold text-green-600'
        id='new-account-button'
      >
        New Account
        <span>
          <i class='fa-solid fa-plus fa-lg'></i>
        </span>
      </button>
    </li>
  </ul>
  {{! prettier-ignore }}
  <script>
    const initLink = async () => {
      console.log( (await fetch('/api/plaid/get-link-token')))
        // const handler = Plaid.create({
        //   token: ,
        //   onLoad: function () {
        //     // Optional, called when Link loads
        //     console.log('Loading Link...')
        //   },
        //   onSuccess: async (publicToken, metadata) => {
        //     await fetch('/api/plaid/get-access-token', {
        //       method: 'POST',
        //       body: JSON.stringify({ public_token: publicToken }),
        //       headers: {
        //         'Content-Type': 'application/json',
        //       },
        //     });
        //     await getBalance();
        //   },
        //   onEvent: (eventName, metadata) => {
        //     console.log('Event:', eventName);
        //     console.log('Metadata:', metadata);
        //   },
        //   onExit: (error, metadata) => {
        //     console.log(error, metadata);
        //   },
        // });
        // handler.open();
    }

    document.addEventListener('DOMContentLoaded', function () {
      document.getElementById('new-account-button').addEventListener('click', initLink)
    })

    // Retrieves balance information
    const getBalance = async function () {
      const response = await fetch('/api/data', {
        method: 'GET',
      });

      const data = await response.json();
      
      //Render response data
      const pre = document.getElementById('response');
      pre.textContent = JSON.stringify(data, null, 2);
      pre.style.background = '#F6F6F6';
    };

    // Check whether account is connected
    const getStatus = async function () {
      const account = await fetch('/api/is_account_connected');
      const connected = await account.json();
      if (connected.status == true) {
        getBalance();
      }
    };

    getStatus();
  </script>
</main>