<main>
  <h2 class="text-4xl font-semibold text-center underline underline-offset-4 decoration-4 mb-3 decoration-blue-600">Accounts connected</h2>
  <ul class='mx-auto max-w-screen-lg px-3'>
    {{#each items}}
      {{#each accounts}}
        <li
          class='flex-between relative mb-4 rounded-md border-2 border-gray-500 px-5 shadow-xl'
        >
          <img
            src='/images/institutions/{{formatInstitution
              ../institution_name
            }}.png'
            alt='{{../institution_name}}'
            class='absolute left-0 top-0 h-6 w-6 -translate-x-1/2 -translate-y-1/2 rounded-sm shadow-xl object-contain'
          />
          <div class='flex flex-col'>
            <a
              class='hover:underline'
            >{{name}} <small class='ml-2 text-gray-600'>...{{mask}}</small></a>
            <small class='ml-2 text-gray-600'>{{type}}</small>
          </div>
          <div class='flex flex-col'>
            {{#if available}}
            <small><em
                class='mr-2 font-bold text-black'
              >Available:</em>{{available}}</small>
            {{/if}}
            <small><em
                class='mr-2 font-bold text-black'
              >Current:</em>{{current}}</small>
          </div>
        </li>
      {{/each}}
    {{/each}}
  </ul>
  <section class='mx-auto max-w-screen-2xl'>
    <div class='flex justify-between'>
      <div>
        <h4 class='heading-2'>{{#if items.length}} {{items.length}} Bank(s) Linked {{else}} Link Bank Account{{/if}}</h4>
        <p>Below is a list of all your connected banks.</p>
      </div>
      <button
        id='new-account-button'
        class='btn-secondary relative bg-black pr-10 text-xl after:absolute after:right-3 after:top-1/2 after:-translate-y-1/2 after:content-[">"] after:hover:right-2'
      >Link {{#if items.length}} another {{else}} a {{/if}}Bank</button>
    </div>
    <ul class='my-5'>
      {{#each items}}
        <li class='m-2 bg-slate-50 px-4 py-2 shadow-md'>
          <div class='flex-between'>
            <div class='flex items-center gap-4'>
              <img
              class="h-10 w-10 object-cover rounded"
                src='/images/institutions/{{formatInstitution
                  institution_name
                }}.png'
                alt='{{institution_name}}'
              />
              <h5 class='heading-4'>{{institution_name}}</h5>
            </div>
            <button data-item-id='{{id}}' class='remove-account-btn btn-danger'>Remove</button>
          </div>
        </li>
      {{/each}}
    </ul>

  </section>
  <pre id='response'></pre>
  <dialog class="rounded-md shadow-lg shadow-black/30 backdrop:bg-slate-700/30 backdrop:backdrop-blur-sm" id="remove-bank-dialog">
    <div>
      <p>Are your sure you want to remove this bank?</p>
      <hr class="my-2" />
      <div>
        <button id="remove-bank" class="btn-danger">Remove</button>
        <button id="cancel-dialog" class="btn-secondary">Cancel</button>
      </div>
    </div>
  </dialog>
  <script
    src='https://cdn.plaid.com/link/v2/stable/link-initialize.js'
  ></script>
  <script src='/js/link.js'></script>
</main>